# Ignore folders
.idea
.well-known
.DS_Store
.cloud
.storage
Thumbs.db
custom_components
deps
esphome
image
node-red
ssh
tts
www/sound
www/community

# Ignore files
.HA_VERSION
home-assistant.log
home-assistant.log.1
home-assistant.log.fault
home-assistant_v2.db
known_devices.yaml
options.xml
pyozw.sqlite
secrets.yaml
zigbee.db

# Ignore files OpenZwave
OZW_Log.txt
zwcfg_0xdbd682de.xml
zwscene.xml
