# Ignore folders
.idea
.well-known
.DS_Store
.cloud
.storage
custom_components
deps
esphome
image
node-red
ssh
tts
www/sound
www/community

# Ignore files
.HA_VERSION
home-assistant.log
home-assistant_v2.db
known_devices.yaml
secrets.yaml
zigbee.db
OZW_Log.txt
pyozw.sqlite
options.xml